certifi==2018.1.18
click==6.7
Flask==0.12.2
html5lib==1.0.1
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
numpy==1.14.0
packaging==16.8
pandas==0.22.0
prompt-toolkit==1.0.15
ptyprocess==0.5
Pygments==2.2.0
webencodings==0.5.1
Werkzeug==0.14.1
gunicorn==19.7.1
