<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Stages per chain"
	},
    axisX: {
	    title: "Supply Chain",
        labelFormatter: function ( e ) {
               if(e.value == 0){
                   return "Cereal Co.";
               }
               else if(e.value == 1){
                   return "Perfume Co.";
               }
               else if(e.value == 2){
                   return "Computer Co.";
               }
               else if(e.value == 3){
                   return "Aircraft Co.";
               }
               else{

               }
         }
	},
	axisY: {
	    title: "Nodes per Stage",
		suffix: "Nodes"
	},
	toolTip: {
		shared: true
	},
	legend:{
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "stackedBar",
		name: "Part_",
		showInLegend: "true",
		yValueFormatString: "#,##0Nodes",
		dataPoints: [
			{ y: {{ label1Cer }},label:"Cereal Co." },
			{ y: {{ label1Per }},label:"Perfume Co." },
			{ y: {{ label1Com }},label:"Computer Co." },
			{ y: {{ label1Air }},label:"Aircraft Co" }
		]
	},
	{
		type: "stackedBar",
		name: "Trans_",
		showInLegend: "true",
		yValueFormatString: "#,##0Nodes",
		dataPoints: [
			{ y: {{ label2Cer }},label:"Cereal Co." },
			{ y: {{ label2Per }},label:"Perfume Co." },
			{ y: {{ label2Com }},label:"Computer Co." },
			{ y: {{ label2Air }},label:"Aircraft Co" }
		]

	},
	{
		type: "stackedBar",
		name: "Manuf_",
		showInLegend: "true",
		yValueFormatString: "#,##0Nodes",
	dataPoints: [
			{ y: {{ label3Cer }},label:"Cereal Co." },
			{ y: {{ label3Per }},label:"Perfume Co." },
			{ y: {{ label3Com }},label:"Computer Co." },
			{ y: {{ label3Air }},label:"Aircraft Co" }
		]
	},
	{
		type: "stackedBar",
		name: "Dist_",
		showInLegend: "true",
		yValueFormatString: "#,##0Nodes",
		dataPoints: [
			{ y: {{ label4Cer }},label:"Cereal Co." },
			{ y: {{ label4Per }},label:"Perfume Co." },
			{ y: {{ label4Com }},label:"Computer Co." },
			{ y: {{ label4Air }},label:"Aircraft Co" }
		]
	},
	{
		type: "stackedBar",
		name: "Retail_",
		showInLegend: "true",
		yValueFormatString: "#,##0Nodes",
	dataPoints: [
			{ y: {{ label5Cer }},label:"Cereal Co." },
			{ y: {{ label5Per }},label:"Perfume Co." },
			{ y: {{ label5Com }},label:"Computer Co." },
			{ y: {{ label5Air }},label:"Aircraft Co" }
		]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
