<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Stages per chain"
                },
                axisX: {
                    title: "Supply Chain",
                    labelFormatter: function (e) {
                        if (e.value == 0) {
                            return "Cereal Co.";
                        }
                        else if (e.value == 1) {
                            return "Perfume Co.";
                        }
                        else if (e.value == 2) {
                            return "Computer Co.";
                        }
                        else if (e.value == 3) {
                            return "Aircraft Co.";
                        }
                        else {

                        }
                    }
                },
                axisY: {
                    title: "Nodes per Stage",
                    suffix: "Nodes"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "stackedBar",
                    name: "Part_",
                    showInLegend: "true",
                    yValueFormatString: "#,##0Nodes",
                    dataPoints: [
                        {y: {{ label1Cer }}, label: "Cereal Co."},
                        {y: {{ label1Per }}, label: "Perfume Co."},
                        {y: {{ label1Com }}, label: "Computer Co."},
                        {y: {{ label1Air }}, label: "Aircraft Co"}
                    ]
                },
                    {
                        type: "stackedBar",
                        name: "Trans_",
                        showInLegend: "true",
                        yValueFormatString: "#,##0Nodes",
                        dataPoints: [
                            {y: {{ label2Cer }}, label: "Cereal Co."},
                            {y: {{ label2Per }}, label: "Perfume Co."},
                            {y: {{ label2Com }}, label: "Computer Co."},
                            {y: {{ label2Air }}, label: "Aircraft Co"}
                        ]

                    },
                    {
                        type: "stackedBar",
                        name: "Manuf_",
                        showInLegend: "true",
                        yValueFormatString: "#,##0Nodes",
                        dataPoints: [
                            {y: {{ label3Cer }}, label: "Cereal Co."},
                            {y: {{ label3Per }}, label: "Perfume Co."},
                            {y: {{ label3Com }}, label: "Computer Co."},
                            {y: {{ label3Air }}, label: "Aircraft Co"}
                        ]
                    },
                    {
                        type: "stackedBar",
                        name: "Dist_",
                        showInLegend: "true",
                        yValueFormatString: "#,##0Nodes",
                        dataPoints: [
                            {y: {{ label4Cer }}, label: "Cereal Co."},
                            {y: {{ label4Per }}, label: "Perfume Co."},
                            {y: {{ label4Com }}, label: "Computer Co."},
                            {y: {{ label4Air }}, label: "Aircraft Co"}
                        ]
                    },
                    {
                        type: "stackedBar",
                        name: "Retail_",
                        showInLegend: "true",
                        yValueFormatString: "#,##0Nodes",
                        dataPoints: [
                            {y: {{ label5Cer }}, label: "Cereal Co."},
                            {y: {{ label5Per }}, label: "Perfume Co."},
                            {y: {{ label5Com }}, label: "Computer Co."},
                            {y: {{ label5Air }}, label: "Aircraft Co"}
                        ]
                    }]
            });
            chart.render();

            function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }


            var chart = new CanvasJS.Chart("Pie1Container", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Vulnerability"
                },
                data: [{
                    type: "pie",
                    startAngle: 25,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        {y: 10 / 1.93, label: "{{ label1_pie }}"},
                        {y: 10 / 1.215, label: "{{ label2_pie}}"},
                        {y: 10 / 3.92, label: "{{ label3_pie}}"},
                        {y: 10 / 8.02, label: "{{ label4_pie}}"}
                    ]
                }]
            });
            chart.options.data[0].click = function (e) {
                var dataSeries = e.dataSeries;
                var dataPoint = e.dataPoint;
                var dataPointIndex = e.dataPointIndex;

                if (dataPoint.exploded)
                    window.open(dataPoint.link, '_self');

                for (var i = 0; i < dataSeries.dataPoints.length; i++) {
                    if (i === dataPointIndex) {
                        continue;
                    }

                    dataSeries.dataPoints[i].exploded = false;
                }
            };
            chart.render()

            var chart = new CanvasJS.Chart("Pie3Container", {
                animationEnabled: true,
                title: {
                    text: "Supply Chain length",
                    // horizontalAlign: "left"
                },
                data: [{
                    type: "doughnut",
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 17,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: [
                        {
                            y: 105.03,
                            name: "{{ label1_pie }}",
                            label: "{{ label1_pie }}",
                            link: "http://127.0.0.1:5000/cereal_stages",
                            exploded: true
                        },
                        {
                            y: 86.93,
                            name: "{{ label2_pie}}",
                            label: "{{ label2_pie }}",
                            link: "http://127.0.0.1:5000/perfume_stages"
                        },
                        {
                            y: 114.3,
                            name: "{{ label3_pie}}",
                            label: "{{ label3_pie }}",
                            link: "http://127.0.0.1:5000/computer_stages"
                        },
                        {
                            y: 21.47,
                            name: "{{ label4_pie}}",
                            label: "{{ label4_pie }}",
                            link: "http://127.0.0.1:5000/aircraft_stages"
                        }
                    ]
                }]
            });
            chart.render();


            var chart = new CanvasJS.Chart("Pie2Container", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "{{pie_text}}"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: explodePie
                },
                data: [{
                    type: "pie",
                    showInLegend: true,
                    toolTipContent: "{label}: <strong>{y}%</strong>",
                    indexname: "{label} - {y}%",
                    dataPoints: [
                        {
                            y: {{y1_pie}},
                            name: "{{ label1_pie }}",
                            label: "{{ label1_pie }}",
                            link: "http://127.0.0.1:5000/cereal_stages",
                            exploded: true
                        },
                        {
                            y: {{y2_pie}},
                            name: "{{ label2_pie}}",
                            label: "{{ label2_pie }}",
                            link: "http://127.0.0.1:5000/perfume_stages"
                        },
                        {
                            y: {{y3_pie}},
                            name: "{{ label3_pie}}",
                            label: "{{ label3_pie }}",
                            link: "http://127.0.0.1:5000/computer_stages"
                        },
                        {
                            y: {{y4_pie}},
                            name: "{{ label4_pie}}",
                            label: "{{ label4_pie }}",
                            link: "http://127.0.0.1:5000/aircraft_stages"
                        }
                    ]
                }]
            });
            chart.options.data[0].click = function (e) {
                var dataSeries = e.dataSeries;
                var dataPoint = e.dataPoint;
                var dataPointIndex = e.dataPointIndex;

                if (dataPoint.exploded)
                    window.open(dataPoint.link, '_self');

                for (var i = 0; i < dataSeries.dataPoints.length; i++) {
                    if (i === dataPointIndex) {
                        continue;
                    }

                    dataSeries.dataPoints[i].exploded = false;
                }
            };
            chart.render();

            function explodePie(e) {
                if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
                } else {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
                }
                e.chart.render();
            }


        }
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The A-Team</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.min.css') }}" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">MIT CAVE HACKATHON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Abhinav</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Harshad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gur Asees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">THE A Team</h1>
            <h2 class="masthead-subheading mb-0">Scroll Down and interact with the plots</h2>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Future Work</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">

                    <div id="Pie1Container" style="height: 300px; width: 100%;">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h3 class="display-4">Is the supply chain robust?</h3>
                    <p>The plot measures the vulnerability on a scale for each of the supply chains on a scale of 10</p>
                    {#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>#}
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">

                    <div id="Pie2Container" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h3 class="display-4">How well do each supply chains Perform?</h3>
                    <p>Clicking on each of the 4 categories reveals more details</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">

                    <div id="Pie3Container" style="height: 370px; width: 100%;"></div>
                </div>

            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">How long are the supply chains?</h2>
                    {#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>#}
                    <p>Hovering on any of the catagories to view more parameters</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="p-5">
                    <h2 class="display-4">How  many stages Does each chain have?</h2>
                    {#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>#}
                    <p>Stages for each chain broken down by corporation and stages</p>
                </div>
            {#          <div class="col-lg-6 order-lg-2">#}
            {#            <div class="p-5">#}
            {##}
            {#<div id="Pie3Container" style="height: 370px; width: 100%;"></div>#}
            {#            </div>#}
            {#          #}
            {#          </div>#}
            {#          <div class="col-lg-6 order-lg-1">#}
            {#            <div class="p-5">#}
            {#              <h2 class="display-4">Let there be rock!</h2>#}
            {#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>#}
            {#            </div>#}
            {#          </div>#}

            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; The A-TEAM MIT CAVE HACKATHON 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>
