<!DOCTYPE html>
<html lang="en">

<head>
 <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: '{{topic}}'
	},
	axisY: {
		title: '{{ylabel}}',
		titleFontColor: "#4F81BC",
		lineColor: "#4F81BC",
		labelFontColor: "#4F81BC",
		tickColor: "#4F81BC"
	},
	axisY2:
	{
		title: '{{y1label}}',
		titleFontColor: "#C0504E",
		lineColor: "#C0504E",
		labelFontColor: "#C0504E",
		tickColor: "#C0504E"
	} ,
	toolTip: {
		shared: true
	},
	legend: {
		cursor:"pointer",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "column",
		name: '{{x1name}}',
		legendText: '{{x1label}}',
		showInLegend: true,
		dataPoints:[
			{ label: '{{label1}}', y:{{y1}} },
			{ label: '{{label2}}', y: {{y2}} },
			{ label: '{{label3}}', y: {{y3}} },
			{ label: '{{label4}}', y: {{y4}} }
		]
	},
	{
		type: "column",
		name: '{{x2name}}',
		legendText: '{{x2label}}',
		axisYType: "secondary",
		showInLegend: true,
		dataPoints:[
			{ label: '{{label1}}', y: {{y5}} },
			{ label: '{{label2}}', y: {{y6}} },
			{ label: '{{label3}}', y: {{y7}} },
			{ label: '{{label4}}', y: {{y8}} }
		]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.min.css') }}" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">MIT CAVE HACKATHON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Abhinav</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Harshad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gur Asees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
<br>
               <div id="chartContainer" style="height: 370px; width: 100%;"></div>


                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h3 class="display-4">Break down of <!--  -->orporations by Performance </h3>
                    <p>Supply chain Performance Breakdown of individual corporations by Stages</p>
                    {#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>#}
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; The A-TEAM MIT CAVE HACKATHON 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>
