<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("PieContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "{{pie_text}}"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: 12, label: "{{ label1_pie }}" , link:"http://127.0.0.1:5000/cereal_stages"},
			{ y: 33, label: "{{ label2_pie}}" , link:"http://127.0.0.1:5000/perfume_stages"},
			{ y: 47, label: "{{ label3_pie}}" , link:"http://127.0.0.1:5000/computer_stages"},
			{ y: 8, label: "{{ label4_pie}}" , link:"http://127.0.0.1:5000/aircraft_stages"}
		]
	}]
});
chart.options.data[0].click = function(e) {
    var dataSeries = e.dataSeries;
    var dataPoint = e.dataPoint;
    var dataPointIndex = e.dataPointIndex;

    if (!dataPoint.exploded)
        window.open(dataPoint.link, '_blank');

    for (var i = 0; i < dataSeries.dataPoints.length; i++) {
        if (i === dataPointIndex) {
            continue;
        }

        dataSeries.dataPoints[i].exploded = false;
    }
};
chart.render();

}
</script>
</head>
<body>
<div id="PieContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>